<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h2>Book編集</h2>
<%= form_with model: @book do |f| %>
  <label for="inputTitle">Title</label>
  <%= f.text_field :title, autofocus: true, id:"inputTitle", placeholder:"タイトル"%>
  <label for="inputBody">Opinion</label>
  <%= f.text_field :body, autofocus: true, id:"inputBody", placeholder:"意見"%>
  <%= f.submit "変更を保存" %>
<% end %>

<%= link_to "Show", book_path(@book) %>
  |
<%= link_to "Back", books_path %>